/* font-family: sans-serif;
text-size-adjust: 100%;
font-size: var(--base-text-font-size);
--heading-font-family: Futura, sans-serif;
--heading-font-weight: 400;
--heading-font-style: normal;
--text-font-family: "Nunito Sans", sans-serif;
--text-font-weight: 400;
--text-font-style: normal;
--base-text-font-size: 14px;
--default-text-font-size: 14px;
--background: #f6f0e2;
--background-rgb: 246, 240, 226;
--light-background: #ffffff;
--light-background-rgb: 255, 255, 255;
--heading-color: #1f3d3d;
--text-color: #1f3d3d;
--text-color-rgb: 31, 61, 61;
--text-color-light: #b4b772;
--text-color-light-rgb: 180, 183, 114;
--link-color: #f5a09d;
--link-color-rgb: 245, 160, 157;
--border-color-rgb: 214, 213, 201;
--button-background: #f5a09d;
--button-background-rgb: 245, 160, 157;
--button-text-color: #1f3d3d;
--header-background: #f6f0e2;
--header-heading-color: #1f3d3d;
--header-light-text-color: #1f3d3d;
--header-border-color: #d6d5c9;
--footer-background: #ffd1c9;
--footer-text-color: #1f3d3d;
--footer-heading-color: #1f3d3d;
--footer-border-color: #ddbbb4;
--navigation-background: #ffd1c9;
--navigation-background-rgb: 255, 209, 201;
--navigation-text-color: #1f3d3d;
--navigation-text-color-light: rgba(31, 61, 61, 0.5);
--navigation-border-color: rgba(31, 61, 61, 0.25);
--newsletter-popup-background: #ffd1c9;
--newsletter-popup-text-color: #1f3d3d;
--newsletter-popup-text-color-rgb: 31, 61, 61;
--secondary-elements-background: #1f3d3d;
--secondary-elements-background-rgb: 31, 61, 61;
--secondary-elements-text-color: #ffffff;
--secondary-elements-text-color-light: rgba(255, 255, 255, 0.5);
--secondary-elements-border-color: rgba(255, 255, 255, 0.25);
--product-sale-price-color: #f94c43;
--product-sale-price-color-rgb: 249, 76, 67;
--payment-terms-background-color: #f6f0e2;
--horizontal-spacing-four-products-per-row: 60px;
--horizontal-spacing-two-products-per-row: 60px;
--vertical-spacing-four-products-per-row: 60px;
--vertical-spacing-two-products-per-row: 75px;
--drawer-transition-timing: cubic-bezier(0.645, 0.045, 0.355, 1);
--header-base-height: 80px;
--cursor-zoom-in-svg: url(//plantaby.co/cdn/shop/t/2/assets/cursor-zoom-in.svg?v=29268849889572453871623110801);
--cursor-zoom-in-2x-svg: url(//plantaby.co/cdn/shop/t/2/assets/cursor-zoom-in-2x.svg?v=169764208595104514401623110801);
--border-color: #1f3d3d;
--use-sticky-header: 1;
--use-unsticky-header: 0;
--header-is-transparent: 0;
--window-height: 945px;
--announcement-bar-height: 44px;
--header-height: 104px;
--header-is-not-transparent: 1;
box-sizing: border-box!important;
-webkit-font-smoothing: antialiased;

 */
